# Do czego służy

Testowanie elementów takich jak ściągenie informacjie o książkach

http://fastml.com/goodbooks-10k-a-new-dataset-for-book-recommendations/

In [3]:
from fastai.collab import *
from fastai.tabular import *


ratings = pd.read_csv('../../moviebook_data/books/ratings.csv')
ratings[:5]

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

# link for the goodreads:
https://www.goodreads.com/book/show/41865/

Twilight

# Learn

In [20]:
all_books =  ratings['book_id'].unique().astype(str)
all_books_df = DataFrame(all_books,columns=['book_id'])


all_users = ratings['user_id'].unique().astype(str)
all_users_df = DataFrame(all_users,columns=['user_id'])

all_books_df.index.name = 'book_ix'
all_books_df.to_csv('../data/books_id.csv')

print('Number of books:', len(all_books),'Number of users:', len(all_users))
ratings.head()

Number of books: 10000 Number of users: 53424

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [27]:
btags = pd.read_csv('./books/book_tags.csv')
tags =  pd.read_csv('./books/tags.csv')

btags = btags.merge(tags,on='tag_id')
# btags.groupby('goodreads_book_id').tag_name.transform(lambda x: list(x.cumsum()))', '.join(sorted(set(x))))

In [ ]:
btags